{% extends "layout.html" %}
{% block title %}Twitter{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h2 class="text-light">Latest Tweets</h2>
    <a class='btn btn-primary' href="{% url 'tweetCreate' %}">+ New Tweet</a>
</div>

<div class="container">
    <div class="row g-3">
        {% for tweet in tweets %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card bg-dark text-light shadow rounded-3">
                    {% if tweet.image %}
                        <img src="{{tweet.image.url}}" class="card-img-top rounded-top" alt="Tweet Image">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{tweet.user.username}}</h4>
                        <p class="card-text">{{tweet.text}}</p>
                        {% if tweet.user == user %}
                        <a href="{% url 'tweetEdit' tweet.id %}" class="btn btn-outline-info">Edit</a>
                        <a href="{% url 'tweetDelete' tweet.id %}" class='btn btn-outline-danger'>Delete</a>
                        {% endif %}
                    </div>
                </div>    
            </div> 
        {% endfor %}
    </div>
</div>

{% endblock %}
